@mixin transition($Time , $Effect){
	transition: all $Time $Effect;
	-webkit-transition: all $Time $Effect;
	-moz-transition: all $Time $Effect;
}
@mixin transformScale($Zoom){
	transform: scale($Zoom);
	-webkit-transform: scale($Zoom);
	-moz-transform: scale($Zoom);
}
@mixin transformScaleX($Zoom){
	transform: scaleX($Zoom);
	-webkit-transform: scaleX($Zoom);
	-moz-transform: scaleX($Zoom);
}